.row
	.title.col-md-12
		= link_to('Collections.', collections_path)
		%p #{@collection.name}
	.col-md-12.thumbs
		.row#bx-pager
			- if @collection.images.empty?
				%a.col-md-3
					.item{:style => "background-image: url(image-not-available.jpg)"}
			- else
				- @collection.images.each do |image|
					%a.col-md-3
						.item{:style => "background-image: url(#{image.file.url(:large)})"}
							.over
								%p
									+

							
:javascript
	$('.bxslider').bxSlider({
		pagerCustom: '#bx-pager'
	});