#jp_container_1.jp-video
	#jquery_jplayer_1
.container
	.row.content#primary-content
		.row.title
			.inside
				= link_to('Styling', stylings_path)
				%a.toggle-nav.pull-right
		.row
			.col-sm-4.col-md-4
				= link_to(lookbooks_stylings_path) do
					.item.lookbookimg
						.over
							%p Lookbook
			.col-sm-4.col-md-4
				= link_to(styling_path(1)) do
					.item.performancesimg
						.over
							%p Performances
			.col-sm-4.col-md-4
				= link_to(styling_path(2)) do
					.item.personalimg
						.over
							%p Personal

