.row.title
	.inside
		%p LA LULI IS A MULTIDISCIPLINARY ARTIST FROM BUENOS AIRES BASED IN NYC.
.row
	.col-md-12
		%ul.slider
			%li
				.splash.bg-styling	
					.row
						.col-md-8.col-md-offset-2
							%h1
								LA LULI IS A MULTIDISCIPLINARY
								ARTIST FROM BUENOS AIRES
								BASED IN NYC.
							= link_to(stylings_path) do
								%button.btn.btn-default
									DISCOVER STYLING
			%li
				.splash.bg-collections
					.row
						.col-md-8.col-md-offset-2
							%h1
								LA LULI IS A MULTIDISCIPLINARY
								ARTIST FROM BUENOS AIRES
								BASED IN NYC.
							= link_to(collections_path) do
								%button.btn.btn-default
									DISCOVER COLLECTIONS
			%li
				.splash.bg-interior
					.row
						.col-md-8.col-md-offset-2
							%h1
								LA LULI IS A MULTIDISCIPLINARY
								ARTIST FROM BUENOS AIRES
								BASED IN NYC.
							= link_to(interiors_path) do
								%button.btn.btn-default
									DISCOVER INTERIOR DESIGN
			%li
				.splash.bg-music
					.row
						.col-md-8.col-md-offset-2
							%h1
								LA LULI IS A MULTIDISCIPLINARY
								ARTIST FROM BUENOS AIRES
								BASED IN NYC.
							= link_to(root_path) do	
								%button.btn.btn-default
									DISCOVER MUSIC & VIDEOS
:javascript
	$(function() {
		$('.slider').bxSlider({
			auto: true,
			pause: 5000,
			useCSS:true,
			mode: 'horizontal',
			easing: 'cubic-bezier(.74,.14,.44,.71)',
				nextText: '→',
				prevText: '←'
		});
	});