.container
	.row.content#primary-content
		.row.title
			.inside
				= link_to('About.', about_index_path)
		.row
			.col-md-12
				%h1
					La Luli is a multidiscipline artist from Argentina living in NYC. Her family has been in the textile industry for more than 40 years so she has been in the fashion and textile industry since she was born. At the age of 14, her mother started taking her to Paris, London and Italy to help as a fashion buyer, for clothing, accessories, shoes and fabrics for her retails stores every season.
				%h1
					Since young age she does most of her clothes with the help of a tailor women entourage while taking singing, guitar and dance classes (ballet, jazz, hip hop and house).
				%h1
					She was the lead singer of the music band she created for many years, composing and recording 3 albums and performing in most clubs and event in Buenos Aires. She design and styled all the outfits for the band and herself performances.
				%h1
					At the same time Luli did big interior design projects, such as: Hearst residences in Pierre Hotel and Larchmont, NY; a beach ranch in Uruguay, a Penthouse at Faena Hotel and recently a duplex loft in Williamsburg, Brooklyn.