#jp_container_1.jp-video
	#jquery_jplayer_1
.container
	.row.content#primary-content
		.row.title
			.inside
				= link_to('About', about_index_path)
				%a.toggle-nav.pull-right
		.row
			.col-md-12.textbox
				%h1
					La Luli is a multi artist from Argentina living in NYC. Her family has been in the textile industry for forty years. 
				%h1
					From young age she started traveling with her mother to Europe as a fashion buyer for Pret-a-porter while designing her very first collections. She designs  and produces most of her clothes since then. At nineteen she moved to NYC becoming a full time dancer and music student.
				%h1
					Back in Buenos Aires she created and produced a pop music show to promote her first wroted and composed album "Obsesion". For the second and third album she formed a new band: La Luli & The Explosivo Paz, performing for many years.
				%h1
					She does the art direction and styling for music videos and fashion photoshoots.
				%h1
					Also Luli is a real estate investor through out the world and interior designer company.