// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about{
	h1{
		background-color: #cb777c;
    	color: #fff;
    	font-weight: 200;
	}
}