// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
	font-family: 'Eras';
	src: font-url('eras.eot');
	src: local('☺'), font-url('eras.woff') format('woff'),
	font-url('eras.ttf') format('truetype'),
	font-url('eras.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.about{
	.title{
		.inside{
			a{
				color: #000;
			}
		}
	}
	h1{
    	color: #000;
    	font-weight: 400;
    	font-size: 30px;
    	text-shadow: 0px 5px 7px white;
    	font-family: 'Eras', helvetica, arial, sans-serif;
    	text-align: center;
	}
	.textbox{
		padding-bottom: 10px;
	}
}