// Place all the styles related to the releases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.releases{
	.item{
		height: auto;
		img{
			width: 100%;
			height: auto;
		}
	}
}
.releases.show{
	.release-info{
		margin: 60px 0;
		padding-left:30px;
		h1{
			color: #fff;
			font-size: 2.5em;
			font-weight: 100;
			margin-top: 0;
		}
	}
	.bx-wrapper .bx-controls-direction a {
		color: #fff;
		display: block;
		font-size: 18px;
		height: 36px;
		line-height: 32px;
		margin: -18px 5px 0 5px;
		outline: 0 none;
		padding: 0;
		text-align: center;
		text-decoration: none;
		text-indent: 1px;
		vertical-align: middle;
		width: 36px;
		background-color: #000;
		border-radius: 50%;
	}
	.bx-wrapper .bx-controls-direction a:hover{
		text-decoration: none;
	}
	.bx-wrapper .bx-pager.bx-default-pager a{
		background-color: #fff;
	}
	.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
		background: #ffeb00 none repeat scroll 0 0;
	}		.bx-wrapper .bx-prev {
		background: none;
		left: 5px;
	}
	.bx-wrapper .bx-next {
		background: none;
		right: 5px;

	}
}
@media (min-width: 1200px){
	.releases.show{
		.release-info{
			margin: 0;
		}
	}
}