html{
	height: 100%;
	width: 100%;
}
video{
	display: none;
}
#jp_container_menu{
	display: none;
}
#jp_container_1{
	display: none;
}
body{
	font-weight: 200;
	color: #000;
	background-color: #000;
	font-size: 8px;
}
#primary-content{
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	-webkit-transition: 1s ease all;
	transition: 1s ease all;
	opacity: 0;
}
#primary-content.loaded{
	-webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
#primary-content.waiting{
	-webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 0;
}
a:focus {
    outline: medium none;
}
/* backgrounds */

body  .fixed-bg{
	background-repeat: no-repeat;
	background-position: top center;
	z-index: -1100;
	position: fixed;
	width: 100%;
	height: 100%;
}
body.home .fixed-bg{
	background-image: image-url('intro.jpg');
}
body.about .fixed-bg{
	background-image: image-url('about_mobile2.jpg');
}
body.stylings .fixed-bg{
	background-image: image-url('stylings.jpg');
}
body.collections .fixed-bg{
	background-image: image-url('collections.jpg');
}
body.interiors .fixed-bg{
	background-image: image-url('interiors.jpg');
}
body.releases .fixed-bg{
	background-image: image-url('releases.jpg');
}

body.home.index{
	.bx-wrapper .bx-controls-direction a{
		margin-top: -56px;
		width: 40px;
		height: 50px;
	}
	.bx-wrapper .bx-prev{
		left:-85px;
		background-image: image-url('prev.png');
		background-position: center;
		background-repeat: no-repeat;
	}
	.bx-wrapper .bx-next{
		right:-85px;
		background-image: image-url('next.png');
		background-position: center;
		background-repeat: no-repeat;
	}
	.bx-wrapper .bx-pager.bx-default-pager a{
		background-color:transparent;
		border:1px solid #fff;
	}
	.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
		background-color: #fff;
	}
	.splash{
		-webkit-transition: 300ms ease all;
	    transition: 300ms ease all;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(100vh - 270px);
		margin-bottom: 60px;
		text-align: center;
	}
	.splash.bg-styling{
		background-image: image-url('styling.jpg');
	}
	.splash.bg-collections{
		background-image: image-url('collections.jpg');
	}
	.splash.bg-interior{
		background-image: image-url('interior.jpg');
	}
	.splash.bg-music{
		background-image: image-url('music.jpg');
	}
	.splash:hover{
		opacity: 1;
	}
	.item{
		height: 390px;
	}
	h1{
		text-align: center;
		color: #fff;
		font-size: 54px;
		margin: 145px 0 132.5px 0;
		font-weight: 300;
	}
}
.vcenter{
	width: 100%;
	position: relative;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%); /* IE 9 */
    -webkit-transform: translate(-50%,-50%); /* Safari */
}
.btn-default{
	border:2px solid #fff;
	background-color: transparent;
	border-radius:0px;
	color: #fff;
	font-size: 20px;
    padding: 10px 60px;
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
    font-weight: 300;
}
.btn-default:hover{
	background-color: #fff;
	border-color: #fff;
	color: #cb777c;
}
.btn:hover, .btn:focus, .btn.focus{
	color: #cb777c;
}
ul{
	list-style: none;
	padding: 0;
	margin:0;
}
.container{
	width:90%;
}
.bgs{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -9999;
	.bg{
		opacity: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
	}
}
.toggle-nav {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: image-url('toggle-menu-mobile.png');
	cursor: pointer;
	font-size: 3em;
	height: 30px;
	padding: 0;
	position: absolute;
	right: 6px;
	text-align: center;
	top: 28px;
	width: 50px;
	z-index: 999;
	img{
		width: 100%;
		height: auto;
	}
}
.navigation{
	background-color: rgba(203,119,124, 0.95);
	background-image: image-url('menu.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: -9999;
	overflow: hidden;
	-webkit-transition: 300ms ease all;
    transition: 300ms ease all;
    a{
    	color: #fff;
    	width: 100%;
    	display: block;
    	text-align: center;
    	font-size: 4em;
    	-webkit-transition: 500ms ease all;
    	transition: 500ms ease all;
    	position: relative;
    	opacity: 0;
    	text-transform: uppercase;
    	padding-bottom: 5px;
    	img{
    		width: 100%;
    	}
    }
    a:nth-child(odd){
    	left: -9999px;
    }
    a:nth-child(even){
    	right: -9999px;
    }
    .vcenter{
		z-index: 9999;
	}
	.social{
		position: absolute;
		bottom: 20px;
		right: 20px;
		a {
			color: #fff;
			float: left;
			font-size: 15px;
			height: 20px;
			line-height: 20px;
			vertical-align: middle;
			width: 20px;
			margin: 0 0 0 10px;
		}
	}
}
.navigation.show{
	opacity: 1;
	z-index: 10000;
	a{
		opacity: 1;
	}
	a:nth-child(odd){
    	left: 0;
    }
    a:nth-child(even){
    	right: 0;
    }
    a:hover{
		text-decoration: line-through;
		opacity: 0.5;
	}
}
/* jplayer */
.jp-video video, .jp-audio, .jp-controls-holder {
	width: auto !important;
	height: 100% !important;
	position: fixed;
	z-index: -1000;
	top: 0;
	left: 50%;
	text-align: center;
	transform: translate(-50%, 0px);
	-webkit-transform: translate(-50%, 0px);
	-ms-transform: translate(-50%, 0px);
}

.jp-video, .jp-video > div, .jp-video img {
	height: auto !important;
	width: 100% !important;
}
.content{
	position: relative;
	z-index: 1;	
}
.title{
	width: 100%;
	color: #fff;
	text-align: left;
	margin: 30px 0;
	.inside{
		line-height: 135px;
		vertical-align: middle;
		margin: 0;
		a,p{
			font-weight: 200;
			font-size: 2.5em;
			margin: 0;
			display: inline-block;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			line-height: 1;
			width: 100%;
			float: left;
		}
		p{
			color: #e3e3e3;
			font-weight: 100;
		}
		a.pull-right{
			display: none;
		}
		a.sub{
			color: #e3e3e3;
		}
		a.active{
			text-decoration: line-through;
		}
		a:hover{
			text-decoration: line-through;
		}
	}
}
.thumbs{
	img{
		width:100%;
		height:auto;
	}
}
.viewer{
	img{
		width:100%;
		height:auto;
	}
}
.item{
	position: relative;
	margin-bottom: 30px;
	vertical-align: middle;
	width: 100%;
	height:432px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	.over{
		background-image: image-url('over.gif');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		opacity: 0;
		-webkit-transition: 300ms ease all;
    	transition: 300ms ease all;
		p{
			color: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			font-size: 2em;
			line-height: 1;
			transform:translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%); /* IE 9 */
			-webkit-transform: translate(-50%,-50%); /* Safari */
			text-transform: uppercase;
		}
	}
}
.item:hover{
	.over{
		opacity: 1;
	}
}
.col-xs-4.instagrid{
	padding: 1px;
}
.item.lookbookimg{
	background-image: image-url('lookbook.jpg');
}
.item.performancesimg{
	background-image: image-url('performances.jpg');
}
.item.personalimg{
	background-image: image-url('personal.jpg');
}
body.show{
	.item{
		position: relative;
		vertical-align: middle;
		width: 100%;
		height:158px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin-bottom: 0;
		.over{
			background-image: image-url('over.gif');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-align: center;
			opacity: 0;
			-webkit-transition: 300ms ease all;
	    	transition: 300ms ease all;
			p{
				color: #fff;
				position: absolute;
				top: 50%;
				left: 50%;
				font-size: 2em;
				line-height: 1;
				transform:translate(-50%,-50%);
				-ms-transform: translate(-50%,-50%); /* IE 9 */
    			-webkit-transform: translate(-50%,-50%); /* Safari */
			}
		}
	}
	.item:hover{
		.over{
			opacity: 1;
		}
	}
	.slide{
		position: relative;
		margin-bottom: 30px;
		vertical-align: middle;
		width: 100%;
		height:870px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}
.bx-wrapper .bx-controls-direction a{
    line-height: 1.1;
}
.bx-wrapper{
    margin: 0;
}
.bx-wrapper .bx-viewport {
    background: transparent;
    border: none;
    box-shadow: none;
    left: 0px;
}
.bx-wrapper ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer{
	position: fixed;
	width: 100%;
	bottom: 0;
	padding: 30px;
	a{
		color: #ff8fcf;
		margin-right: 1em;
	}
	a:last-child{
		margin-right: 0px;
	}
}

.modal-content {
    background-clip: padding-box;
    background-color: transparent;
    border: medium none;
    border-radius: 6px;
    box-shadow: none;
    outline: 0 none;
    position: relative;
}
.modal-backdrop{
	background-color: rgba(0,0,0, 0.95);
}
.modal-backdrop.in{
	opacity: 0.9;
}
.modal-header{
	border:none;
	.close{
		color: #fff;
		opacity: 1;
		text-shadow: none;
	}
}
.modal-title{
	color: #fff;
}
.modal-dialog{
	margin: 0 auto;
	top: 50%;
	position: absolute;
	width: 100%;
}
.modal.in .modal-dialog {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.ekko-lightbox-nav-overlay a{
	opacity: 1;
}
@media (min-width: 359px){
	body{
		font-size: 11px;
	}
}
@media (min-width: 767px){
	.toggle-nav{
		right: 26px;
	}
	body.home .fixed-bg{
		background-image: image-url('intro.jpg');
	}
	body.about .fixed-bg{
		background-image: image-url('about.jpg');
	}
	body.stylings .fixed-bg{
		background-image: image-url('stylings.jpg');
	}
	body.collections .fixed-bg{
		background-image: image-url('collections.jpg');
	}
	body.interiors .fixed-bg{
		background-image: image-url('interiors.jpg');
	}
	body.releases .fixed-bg{
		background-image: image-url('releases.jpg');
	}
	.col-xs-4.instagrid{
		padding: 0px 15px;
	}
	.container{
		width: 95%;
	}
	.item{
		height: 235px;
	}
	body.show{
		.item{
			height: 320px;
			margin-bottom: 30px;
		}
	}
	.title{
		.inside{
			a,p{
				width: auto;
			}
			p{
				margin-left: 5px;
			}
			a.pull-right{
				display: block;
				margin-right: 60px;
			}
		}
	}
}
@media (min-width: 1130px){
	.container{
		width: 1030px;
	}
	.toggle-nav{
		right: 60px;
		top: 28px;
		background-image: image-url('toggle-menu.png');
	}
	.navigation{
		.social{
			a {
				font-size: 18px;
				height: 20px;
				line-height: 20px;
				width: 20px;
			}
		}
	}
	body{
		font-size: 10px;
	}
	body .fixed-bg{
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-position: center center;
	}
	video{
		display: block;
	}
	#jp_container_menu{
		display: block;
	}
	#jp_container_1{
		display: block;
	}
	.jp-video video, .jp-audio, .jp-controls-holder {
		width: 100% !important;
		height: auto !important;
	}
	.vcenter{
		width: 50%;
	}
	.item{
		height: 558px;
	}
	body.show{
		.item{
			height: 405px;
		}
	}
}
@media (min-width: 1300px){
	body{
		font-size: 11px;
	}
	.toggle-nav{
		right: 135px;
	}
}